html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    background: linear-gradient(#999, #333);
    height: 175vh
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

table, th, td {
    font-size: 1.25rem;
    border: 1px solid #333;
    background-color: #fff;
    margin: 0 auto 0 auto;
}

header {
    text-align: center;
    font-size: 1.25rem;
}

.container {
    /* border: 8px solid red; */
    display: flex;
    flex-direction: column-reverse;
}

.container > section {
    /* border: 4px solid gold; */
    align-self: center;
    padding: 1rem;
}

.container > section > h2 {
    /* border: 2px solid fuchsia; */
    padding: 0.5rem;
}

.container > section > img {
    /* border: 2px dashed red; */
    padding: 0.5rem;
    max-width: 90rem;
    max-height: 70rem;
}

footer {
    display: flex;
    justify-content: center;
}

footer > section .fa-github:hover{
    color: black;
}
footer > section .fa-twitter:hover{
    color: dodgerblue;
}
