html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    background: linear-gradient(#999, #333);
    height: 100vh
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

table,
th {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: gold;
}
